<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
    html {
        font-family: 'Montserrat', sans-serif;
        background: rgb(117, 117, 117);
    }
    
    body {
        display: flex;
    }
    
    form {
        background: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        width: 33%;
        height: 75%;
        margin: auto;
        padding: 1em;
        border-radius: 2px;
        box-shadow: 5px 5px 5px rgb(0, 0, 0);
    }
    
    p {
        position: absolute;
        margin: 0 auto 0 auto;
        text-align: center;
        left: 0;
        right: 0;
    }
    
    span {
        height: 2em;
    }
    
    .input {
        width: 100%;
        text-align: center;
        height: auto;
    }
    
    input {
        background: none;
        border-style: hidden;
        border-bottom-style: solid;
        border-width: 1px;
        border-color: #10284d;
        text-align: center;
        font-size: medium;
    }
    
    input:focus {
        outline: 0px;
    }
    
    input,
    button {
        width: 50%;
        padding: 0.5em;
    }
    
    button {
        font-size: medium;
        border-radius: 2.5px;
        border-width: 1px;
        margin: 1em;
        color: white;
        background-color: #10284d;
    }
    
    img {
        width: 100%;
        height: auto;
        margin-bottom: 2em;
    }
</style>

<form action="/login" method="POST">
    <img id="logo" src="../images/logoWhite.png" />

    <div class="input">
        <label for="user">Username:</label><br>
        <input type="text" id="user" name="username" required>
    </div>
    <div class="input">
        <label for="password">password:</label><br>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="input">
        <button type="submit">login</button>
        <span>
            <p>
            <!--<% if (messages.error) { %>
                <%= messages.error %>
                    <% } %>-->
            </p>
        </span>
    </div>


</form>