<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telemetry</title>
</head>

<body>
    <h1>create new user</h1>
    <form action="/login/newUser" method="POST">
        <label for="user">user</label>
        <input type="text" id="user" name="username" required>
        <label for="password">password</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">submit</button>
    </form>
</body>

</html>