html {
    background-color: #585b5d;
}

#dashboard {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
}

.card {
    width: 20%;
    height: auto;
    min-height: 150px;
    margin: 0.5em;
    background: rgb(140, 140, 140);
    text-align: center;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #0a0a0a;
    overflow-wrap: break-word;
}

.running {
    background-color: rgb(5 136 0);
}

.running h2 {
    color: white;
}

.fault {
    background-color: yellow;
}

.notResponding {
    background: rgb(140, 140, 140);
}

.card h2 {
    font-size: 1em!important;
}

.messageDiv h4 {
    margin: 0;
}

.messageDiv p {
    margin: 0;
}

.messageDiv {}

.dataTable {
    padding: 0 0.5em;
}

tr {
    width: 100%;
}

td {
    text-align: center;
    width: 50%;
}